// Colors -------------------------------------------------------------------

$dark-gradient-top: #333;
$dark-gradient-bottom: #252525;
$footer-bg-color: #333;
$footer-border-color: #252525;

// Spacing ------------------------------------------------------------------

$navbar-padding: 4px;
$navbar-padding-bottom: 8px;
