// Colors -------------------------------------------------------------------

$dark-gradient-top: #333;
$dark-gradient-bottom: #252525;
$footer-bg-color: #333;
$year-grouping-border-color: #444;

$success-10: $success;
$success-9: rgba($success, 0.90);
$success-8: rgba($success, 0.80);
$success-7: rgba($success, 0.70);
$success-6: rgba($success, 0.60);
$success-5: rgba($success, 0.50);
$success-4: rgba($success, 0.40);
$success-3: rgba($success, 0.30);
$success-2: rgba($success, 0.20);
$success-1: rgba($success, 0.10);
$success-0: rgba($success, 0.0);

$primary-10: $primary;
$primary-9: rgba($primary, 0.90);
$primary-8: rgba($primary, 0.80);
$primary-7: rgba($primary, 0.70);
$primary-6: rgba($primary, 0.60);
$primary-5: rgba($primary, 0.50);
$primary-4: rgba($primary, 0.40);
$primary-3: rgba($primary, 0.30);
$primary-2: rgba($primary, 0.20);
$primary-1: rgba($primary, 0.10);
$primary-0: rgba($primary, 0.0);

// Spacing ------------------------------------------------------------------

$navbar-padding: 4px;
$navbar-padding-bottom: 8px;
