body {
	padding: 0;
	padding-top: 4em;
	padding-bottom: 70px;
	margin: 0;
}

.navbar {
	padding: $navbar-padding;
	padding-bottom: $navbar-padding-bottom;
}

.bg-light {
	background-image: linear-gradient($dark-gradient-top, $dark-gradient-bottom) !important;
	background-color: none !important;
}

.navbar-brand-wrapper {
	border-style: solid;
	border-radius: 40px;
	width: 40px;
	border-width: 6px;
	border-left-color: $success;
	border-top-color: $success;
	border-right-color: $primary;
	border-bottom-color: $primary;
	padding-left: 1px;
}

.navbar-brand {
	line-height: 20px;
	display: block;
	text-align: center;
	padding-top: 2px;
	padding-right: 4px;
}

.social-nav li {
	padding: 4px;
}

.social-nav a {
	color: $primary;
}

.social-nav a:hover {
	color: $success;
}

.container-nopad {
	margin: 0 ;
	padding: 0;
}

.page-content {
	padding-top: 4em;
}

.page-column-side {
	background-color: $table-active-bg;
}

.page-column-main {

}

#footer {
	background-color: $footer-bg-color;
	margin: 0;
	padding: 5em;
	/*
	border-radius: 5px;
	border: 1px solid lighten($footer-bg-color, 10%);
	*/
	border-top: 1px solid lighten($footer-bg-color, 10%);
	border-bottom: 1px solid lighten($footer-bg-color, 10%);
	margin-bottom: 2em;
}
