html {
	position: relative;
  min-height: 100%;
}

body {
	padding: 0;
	padding-top: 4em;
	margin: 0;
	margin-bottom: 500px;
}

.navbar {
	padding: $navbar-padding;
	padding-bottom: $navbar-padding-bottom;
	border-bottom: 1px solid #1a1a1a;
}

.bg-light {
	background-image: linear-gradient($dark-gradient-top, $dark-gradient-bottom) !important;
	background-color: none !important;
}

.navbar-brand-wrapper {
	border-style: solid;
	border-radius: 40px;
	width: 40px;
	border-width: 6px;
	border-left-color: $success;
	border-top-color: $success;
	border-right-color: $primary;
	border-bottom-color: $primary;
	padding-left: 1px;
}

.navbar-brand {
	line-height: 20px;
	display: block;
	text-align: center;
	padding-top: 2px;
	padding-right: 4px;
}

.social-nav li {
	padding: 4px;
}

.social-nav a {
	color: $primary;
}

.social-nav a:hover {
	color: $success;
}

h2, .h2 {
	font-size: 25pt;
	line-height: 1.5;
}

h3, .h3 {
	font-size: 19pt;
	line-height: 1.3;
	color: $gray-200 !important;
}

h4, .h4 {
	font-size: 15pt;
	color: $gray-300 !important;
}

h5, .h5 {
	font-size: 13pt;
	color: $gray-400 !important;
}

h6, .h6 {
	font-size: 11pt;
	font-style: italic;
	color: $gray-500 !important;
}

.container-nopad {
	margin: 0 ;
	padding: 0;
}

.page-content {
	padding-top: 4em;
}

.page-column-side {
	background-color: $table-active-bg;
}

.page-column-main {

}

.about-portrait {
	float: right;
	padding-left: 1em;
}

h2.archive-year {
	color: $primary !important;
}

h3.archive-month {
	color: lighten($primary, 20%) !important;
}

hr.year-grouping {
	border: 2px dashed $year-grouping-border-color;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
	background-color: $footer-bg-color;
	margin: 0;
	padding: 2em;
	border-top: 1px solid lighten($footer-bg-color, 10%);
	border-bottom: 1px solid lighten($footer-bg-color, 10%);
	margin-bottom: 5em;
}
