{% extends "templates/structure.html" %}

{% block header-content %}
<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <div class="navbar-brand-wrapper">
      <a href="{{ page-data.base-path }}/" class="navbar-brand">o|b</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ page-data.base-path }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ page-data.base-path }}/archives">Archives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ page-data.base-path }}/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ page-data.base-path }}/tags">Tags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ page-data.base-path }}/authors">Authors</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="about">About <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="about">
            <a class="dropdown-item" href="{{ page-data.base-path }}/about/">The Blog</a>
            <a class="dropdown-item" href="{{ page-data.base-path }}/about/contact/">Contact Us</a>
            <a class="dropdown-item" href="{{ page-data.base-path }}/about/powered-by/">Powered By</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ page-data.base-path }}/about/license/">License</a>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto social-nav">
        <li class="nav-item">
          <a href="{{ page-data.base-path }}/atom.xml" alt="Atom Feed">
            <i class="fa fa-feed first"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/oubiwann" alt="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/googleplus" alt="Google+">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="http://github.com/oubiwann" alt="Github">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://groups.google.com/forum/#!forum/oubiwann-blog-new-posts"
             alt="Email Notifications">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block footer-content %}
        <div class="row">
          <div class="col-lg-6">

            <ul class="list-unstyled">
              <li class="text-muted">Blogs</li>
              <li><a href="http://oubiwann.blogspot.com">Electric Duncan</a></li>
              <li><a href="http://blog.lfe.io/">LFE Blog</a></li>
              <li><a href="http://clojang.lfe.io/">Clojang</a></li>
              <li><a href="https://clozhang.github.io/blog/">Clozhang</a></li>
            </ul>

          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li class="float-lg-right text-muted">Github orgs</li>
              <li class="float-lg-right"><a href="https://github.com/erlsci">erlsci</a></li>
              <li class="float-lg-right"><a href="https://github.com/lfex">lfex</a></li>
              <li class="float-lg-right"><a href="https://github.com/clozhang">clozhang</a></li>
              <li class="float-lg-right"><a href="https://github.com/clojang">clojang</a></li>
              <li class="float-lg-right"><a href="https://github.com/clojusc">clojusc</a></li>
              <li class="float-lg-right"><a href="https://github.com/hexagram30">hexagram30</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">

              <li class="float-lg-right"><a href="https://github.com/masteringmatplotlib">masteringmatplotlib</a></li>
              <li class="float-lg-right"><a href="https://github.com/usgs-lcmap">usgs-lcmap</a></li>
              <li class="float-lg-right"><a href="https://github.com/nasa-ngap-archives">nasa-ngap-archives</a></li>
              <li class="float-lg-right"><a href="https://github.com/nasa-cmr-archives">nasa-cmr-archives</a></li>

            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p><a href="http://creativecommons.org/licenses/by-sa/4.0/">
              <img src="https://licensebuttons.net/l/by-sa/4.0/88x31.png">
            </a></p>
            <p class="text-muted">Content released under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License.</a>.</p>
            <p class="text-muted">Copyright &copy; Duncan McGreggor, 2003-2019</p>
          </div>
        </div>

{% endblock %}

{% block post-scripts %}
    <script src="{{ page-data.base-path }}/assets/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="{{ page-data.base-path }}/assets/popper.js/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="{{ page-data.base-path }}/assets/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ page-data.base-path }}/assets/bootswatch/js/custom.js" crossorigin="anonymous"></script>
    <script src="{{ page-data.base-path }}/assets/highlightjs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
