{% extends "templates/base.html" %}

{% block page-metadata %}
<!-- General Metadata (per-page) -->
<meta name="author" content="Duncan McGreggor">

<!-- Dublic Core Metadata (per-page) -->
<meta name="DC.title" lang="en" content="{{ page-data.site-title }}">
<meta name="DC.creator" content="Duncan McGreggor">
<meta name="DC.subject" content="Blog Home Page">
<meta name="DC.identifier" scheme="DCTERMS.URI" content="http://oubiwann.github.io/blog/">
<meta name="DCTERMS.abstract" content="{{ page-data.site-description }}">

<!-- Facebook's OpenGraph Metadata -->
<meta property="og:site_name" content="{{ page-data.site-title }}">
<meta property="og:title" content="{{ page-data.site-title }}">
<meta property="og:url" content="http://forgotten.roads.mx/blog/">
<meta property="og:type" content="blog">
<meta property="og:description" content="{{ page-data.site-description }}">
<meta property="og:image" content="http://forgotten.roads.mx/blog/img/roadtrip5-narrow-with-text.jpg">

<!-- Twitter Card Metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ForgottenRdsMX">
<meta name="twitter:creator" content="@ForgottenRdsMX">
<meta name="twitter:title" content="{{ page-data.site-title }}">
<meta name="twitter:url" content="http://oubiwann.github.io/blog/">
<meta name="twitter:description" content="{{ page-data.site-description }}">
<meta name="twitter:image" content="http://forgotten.roads.mx/blog/img/roadtrip5-narrow-with-text.jpg">
{% endblock %}
{% block header-class %}{% endblock %}
{% block head-postpends %}{% endblock %}
{% block contained-main-content %}
<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8 headlines">

    <!-- Top Headline -->
    <div class="card mb-4">
      <img class="card-img-top" src="{{ default-images.headliner }}{{ headliner.img-idx }}.jpg" alt="Headline image">
      <div class="card-body">
        <h2 class="card-title">{{ headliner.metadata.title }}</h2>
        {% if headliner.metadata.subtitle %}
          <h3 class="card-subtitle">{{ headliner.metadata.subtitle|safe }}</h3>
        {% endif %}
        <p class="card-text">{{ headliner.excerpts.excerpt-100-clean|safe }}</p>
        <a href="{{ headliner.url-path }}" class="btn btn-primary">Read More &rarr;</a>
      </div>
      <div class="card-footer text-muted">
        Posted on {{ headliner.dates.month }} {{ headliner.dates.date.day }},
        {{ headliner.dates.date.year }} by
        <a href="{{ page-data.base-path }}/authors#{{ headliner.metadata.author }}">{{ headliner.metadata.author }}</a>
      </div>
    </div>

    <!-- Supporting Headlines -->
    {% for post-data in supporting %}
    <div class="card mb-4">
      <div class="card-body">
        <img class="card-img-right" src="{{ default-images.small }}{{ post-data.img-idx }}.png" alt="Post image crop">
        <h3 class="card-title">{{ post-data.metadata.title}}</h3>
        {% if post-data.metadata.subtitle %}
          <h4 class="card-subtitle">{{ post-data.metadata.subtitle|safe }}</h4>
        {% endif %}
        <p class="card-text">{{ post-data.excerpts.excerpt-50-clean|safe }}</p>
        <a href="{{ post-data.url-path }}" class="btn btn-primary">Read More &rarr;</a>
      </div>
      <div class="card-footer text-muted">
        Posted on {{ post-data.dates.month }} {{ post-data.dates.date.day }},
        {{ post-data.dates.date.year }} by
        <a href="{{ page-data.base-path }}/authors#{{ post-data.metadata.author }}">{{ post-data.metadata.author }}</a>
      </div>
    </div>
    {% endfor %}

    <!-- Middle Headlines -->
    {% for post-data in middle %}
    <div class="card mb-4">
      <div class="card-body">
        <img class="card-img-right" src="{{ default-images.thumb }}{{ post-data.img-idx }}.png" alt="Post image crop">
        <h4 class="card-title">{{ post-data.metadata.title}}</h4>
        {% if post-data.metadata.subtitle %}
          <h5 class="card-subtitle">{{ post-data.metadata.subtitle|safe }}</h5>
        {% endif %}
        <p class="card-text">{{ post-data.excerpts.excerpt-25-clean|safe }}
          &nbsp;<a href="{{ post-data.url-path }}" class="btn btn-outline-primary btn-sm">More &rarr;</a>
        </p>
      </div>
      <div class="card-footer text-muted">
        Posted on {{ post-data.dates.month }} {{ post-data.dates.date.day }},
        {{ post-data.dates.date.year }} by
        <a href="{{ page-data.base-path }}/authors#{{ post-data.metadata.author }}">{{ post-data.metadata.author }}</a>
      </div>
    </div>
    {% endfor %}

    <!-- Trailing Headlines -->
    {% for row in trailing %}
    <div class="row">
      {% for post-data in row %}
      <div class="col-sm">

        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">{{ post-data.metadata.title}}</h4>
            {% if post-data.metadata.subtitle %}
              <h5 class="card-subtitle">{{ post-data.metadata.subtitle|safe }}</h5>
            {% endif %}
            <p class="card-text"><a href="{{ post-data.url-path }}" class="btn btn-outline-primary btn-sm">Read &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post-data.dates.month }} {{ post-data.dates.date.day }},
        {{ post-data.dates.date.year }} by
        <a href="{{ page-data.base-path }}/authors#{{ post-data.metadata.author }}">{{ post-data.metadata.author }}</a>
          </div>
        </div>

      </div>
      {% endfor %}

    </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item disabled">
        <a class="page-link" href="#">&larr; Newer</a>
      </li>
      <li class="page-item">
        <a class="page-link pager-middle-link" href="{{ page-data.base-path }}/archives">Post Archives</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ page-data.base-path }}/headlines/page/1">Older &rarr;</a>
      </li>
    </ul>

  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Featured Widget -->
    <div class="card my-4">
      <h5 class="card-header">Featured</h5>
      <div class="card-body featured">
        <div class="row">
          <div class="col-3 featured-img">
            <img src="/blog/img/ob-thumb-8.png" />
          </div>
          <div class="col-9 featured-link">
            <a href="">An Interview with Robert Virding on Lisp</a>
          </div>
        </div>
        <div class="row">
          <div class="col-3 featured-img">
            <img src="/blog/img/ob-thumb-7.png" />
          </div>
          <div class="col-9 featured-link">
            <a href="">The Secret History of Lambda </a>
          </div>
        </div>
        <div class="row">
          <div class="col-3 featured-img">
            <img src="/blog/img/ob-thumb-5.png" />
          </div>
          <div class="col-9 featured-link">
            <a href="">Prefix Operators in Haskell </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Most-Read Widget -->
    <div class="card my-4">
      <h5 class="card-header">Most Read</h5>
      <div class="card-body featured">
        <div class="row">
          <div class="col-3 featured-img">
            <img src="/blog/img/ob-thumb-4.png" />
          </div>
          <div class="col-9 featured-link">
            <a href="">NASA/EOSDIS Earthdata</a>
          </div>
        </div>
        <div class="row">
          <div class="col-3 featured-img">
            <img src="/blog/img/ob-thumb-3.png" />
          </div>
          <div class="col-9 featured-link">
            <a href="">Mastering matplotlib: Acknowledgments</a>
          </div>
        </div>
        <div class="row">
          <div class="col-3 featured-img">
            <img src="/blog/img/ob-thumb-2.png" />
          </div>
          <div class="col-9 featured-link">
            <a href="">Async Batching with Twisted: A Walkthrough</a>
          </div>
        </div>
        <div class="row">
          <div class="col-3 featured-img">
            <img src="/blog/img/ob-thumb-1.png" />
          </div>
          <div class="col-9 featured-link">
            <a href="">Scientific Computing with Hy and IPython</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
        <div class="row">
          <div class="col">
            {% for x in blog-stats.categories.ten|sort %}
            <span class="badge badge-success category-strength-{{ x.1 }}">
              <a href="/blog/categories#{{ x.0 }}">{{ x.0 }}</a>
            </span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Tags Widget -->
    <div class="card my-4">
      <h5 class="card-header">Tags</h5>
      <div class="card-body">
        <div class="row">
          <div class="col">
            {% for x in blog-stats.tags.ten|sort %}
            <span class="badge badge-primary tag-strength-{{ x.1 }}">
              <a href="/blog/tags#{{ x.0 }}">{{ x.0 }}</a>
            </span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Twitter Widget -->
    <div class="card my-4">
      <h5 class="card-header">On Twitter</h5>
      <div class="card-body">
        <a class="twitter-timeline" data-width="338" data-height="750" data-theme="dark" data-link-color="#00bc8c" href="https://twitter.com/oubiwann?ref_src=twsrc%5Etfw">Tweets by oubiwann</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

  </div>
{% endblock %}
