{% extends "templates/base.html" %}

{% block google-ad-setup %}
{% endblock %}

{% block page-metadata %}
<!-- General Metadata (per-page) -->
<meta name="author" content="{{ post-data.author }}">

<!-- Dublic Core Metadata (per-page) -->
<meta name="DC.title" lang="en" content="{{ post-data.metadata.title }}">
<meta name="DC.creator" content="{{ post-data.metadata.author }}">
<meta name="DC.subject" content="{{ post-data.category }}">
<meta name="DC.date" content="{{ post-data.dates.datestamp }}">
<meta name="DC.identifier" scheme="DCTERMS.URI" content="https://oubiwann.github.io{{ page-data.base-path }}/archives/{{ post-data.uri-path }}">
<meta name="DCTERMS.abstract" content="{% if post-data.metadata.subtitle %}{{ post-data.metadata.subtitle|safe }}{% endif %}">

<!-- Facebook's OpenGraph Metadata -->
<meta property="og:site_name" content="{{ page-data.site-title }}">
<meta property="og:title" content="{{ post-data.metadata.title }}">
<meta property="og:url" content="https://oubiwann.github.io{{ page-data.base-path }}/archives/{{ post-data.uri-path }}">
<meta property="og:type" content="blog">
<meta property="og:description" content="{% if post-data.metadata.subtitle %}{{ post-data.metadata.subtitle|safe }}{% endif %}">
<meta property="og:image" content="https://oubiwann.github.io{{ post-data.header-image }}">
<meta property="article:author" content="{{ post-data.author }}">
<meta property="article:published_time" content="{{ post-data.dates.timestamp }}">
<meta property="article:modified_time" content="{{ post-data.updated }}">
<meta property="og:updated_time" content="{{ post-data.updated }}">
<meta property="article:section" content="{{ post-data.category }}">
{% for tag in tags %}<meta property="article:tag" content="{{ tag }}">
{% endfor %}

<!-- Twitter Card Metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site:id" content="@oubiwann">
<meta name="twitter:creator:id" content="@{{ post-data.metadata.twitter }}">
<meta name="twitter:title" content="{{ post-data.metadata.title }}">
<meta name="twitter:url" content="https://oubiwann.github.io{{ page-data.base-path }}/archives/{{ post-data.uri-path }}">
<meta name="twitter:description" content="{{ post-data.excerpts.excerpt-25-safe-clean }}">
<meta name="twitter:image" content="https://oubiwann.github.io{{ post-data.header-image }}">
{% endblock %}

{% block pre-css %}{{ blocks.pre-css|safe }}{% endblock %}

{% block pre-head-scripts %}{{ blocks.pre-head-scripts|safe }}{% endblock %}

{% block post-head-scripts %}{{ blocks.post-head-scripts|safe }}{% endblock %}

{% block head-postpends %}
  {{ blocks.head-postpends|safe }}
{% endblock %}

{% block post-post-scripts %}{{ blocks.post-post-scripts|safe }}{% endblock %}

{% block main-content %}

    <!-- Page Content -->
    <div class="container page-content">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

          <!-- Title -->
          <h1 class="mt-4">{{ post-data.metadata.title}}</h1>

          <!-- Author -->
          <p class="lead">
            Posted on {{ post-data.dates.month }} {{ post-data.dates.date.day }},
            {{ post-data.dates.date.year }} by
            <a href="{{ page-data.base-path }}/authors#{{ post-data.metadata.author }}">{{ post-data.metadata.author }}</a>
          </p>

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link show active" data-toggle="tab" href="#content">Content</a>
            </li>
            <li class="nav-item">
              <a class="nav-link show" data-toggle="tab" href="#metadata">Metadata</a>
            </li>
          </ul>

          <br/>

          <div id="post-content" class="tab-content">
            <div class="tab-pane fade active show" id="content">

          <!-- Post Image -->
          <img class="card-img-top" src="{{ post-data.header-image }}" alt="Blog post image">

          <hr>

          <!-- Post Content -->
          {{ post-data.content|safe }}

            </div>
            <div class="tab-pane fade" id="metadata">

              <table class="table table-hover">
                <tbody>
                  <tr class="table-secondary">
                    <th scope="row">Author</th>
                    <td>{{ post-data.metadata.author }}</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Date</th>
                    <td>{{ post-data.dates.month }} {{ post-data.dates.date.day }},
        {{ post-data.dates.date.year }}</td>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row">Time</th>
                    <td>{{ post-data.dates.time }}</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>
                        <a href="{{ page-data.base-path }}/categories/#{{ post-data.category }}">{{ post-data.category }}</a>
                    </td>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row">Tags</th>
                    <td>
                      {% for tag in post-data.tags %}
                      <a href="{{ page-data.base-path }}/tags/#{{ tag }}">{{ tag }}</a>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Line&nbsp;Count</th>
                    <td>{{ post-data.stats.line-count }} </td>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row">Word&nbsp;Count</th>
                    <td>{{ post-data.stats.word-count }} </td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Character&nbsp;Count</th>
                    <td>{{ post-data.stats.char-count }} </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <hr>

          <!-- Comments Note -->
          <div class="card my-4">
            <h5 class="card-header">Comments?</h5>
            <div class="card-body">
              This blog doesn't use standard (embedded) comments; however, since
              the site is hosted on Github, if there <emphasis>is</emphasis>
              something you'd like to share, please do so by
              <a href="https://github.com/oubiwann/blog/issues/new">opening a
              "comment" ticket!</a>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

<!-- End main page content -->
{% endblock %}

