  {:name "o|b"
   :description "A 21st century .plan for Duncan McGreggor"
   :domain "oubiwann.github.io/blog"
   :port 5097
   :paths {
     :output "./"}
   :logging {
     :level :debug
     :nss [clojusc dragon oubiwann rfc5322]}
   :default-images {
     :post "/blog/img/ob-post-"
     :headliner "/blog/img/ob-headline-"
     :small "/blog/img/ob-small-"
     :thumb "/blog/img/ob-thumb-"
     :count 8}
   :headlines {
     :lead {
       }
     :supporting {
       :count 3}
     :middle {
       :count 4}
     :trailing {
       :count 18
       :rows 6}}
   :posts {
     }}
