  {:name "o|b"
   :description "A 21st century .plan for Duncan McGreggor"
   :domain "oubiwann.github.io/blog"
   :port 5097
   :paths {
     :output "./"}
   :logging {
     :level :debug
     :nss [clojusc dragon oubiwann rfc5322]}
   :headlines {
     :count 20
     :lead {
       :default-image-tmpl "/blog/img/ob-headline-%s.png"
       :default-image-count 8}
     :supporting {
       :count 3}
     :middle {
       :count 4}
     :trailing {
       :count 9
       :rows 3}}}
