  {:name "o|b"
   :description "A 21st century .plan for Duncan McGreggor"
   :domain "oubiwann.github.io/blog"
   :port 5097
   :paths {
     :output "./"}
   :logging {
     :level :debug
     :nss [clojusc dragon oubiwann rfc5322]}
   :default-images {
     :post "ob-post-%s.jpg"
     :headliner "ob-headline-%s.jpg"
     :small "ob-small-%s.png"
     :thumb "ob-thumb-%s.png"
     :count 8}
   :headlines {
     :lead {
       }
     :supporting {
       :count 3}
     :middle {
       :count 4}
     :trailing {
       :count 12
       :per-row 3}}
   :posts {
     }}
