{% extends "templates/base-1-col.html" %}

{% block content-body %}
  <p class="lead">All posts presented by their major classification: the category.</p>
  {% for cat-data in posts-data %}
  <a name="{{ cat-data|key }}"></a><br />
  <h2>{{ cat-data|key }}</h2>
  <ul>
    {% for post-data in cat-data|val %}
    <li>{{ post-data.month-name }}
        {{ post-data.day }},
        {{ post-data.year }} -
        <a href="{{ post-data.url-path|safe }}">
          {{ post-data.title }}
        </a>{% if post-data.subtitle %}: {{ post-data.subtitle|safe }}{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
{% endblock %}
